doctype html
html
  head
    title about us
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="about us")
    link(rel="stylesheet" type="text/css" href="../../dist/css/about_style.css")
  
  body(onload="loadEvent()")
    script(type="text/javascript" src="../js/about_script.js")
    div#__AboutUs__fullscreen
      // header
      div#__AboutUs__header__container
        img.logo_image(src="../../team_asset/wallet.png" alt="logo")
        span.logo_word BeiBei

      // teampic
      div#__AboutUs_teampic_container
        img#teampic_0.teampic(src="../../team_asset/group_pic1.jpg" alt="team picture 1")
        img#teampic_1.teampic(src="../../team_asset/group_pic2.jpg" alt="team picture 2")
        img#teampic_2.teampic(src="../../team_asset/group_pic3.jpg" alt="team picture 3")
        span#noload 如果你看到這段話，代表頁面還沒完全載入

      // teamintro
      div#__AboutUs_teamintro_container
        span.team_title Hello there!
        span#team_description We are BeiBei#[br]We are a team

      // slide
      div#__AboutUs__mugshot__container
        img#member0(class="people_pic people_area_1" src="../../team_asset/member1.png" alt="member 4")
        img#member1(class="people_pic people_area_2" src="../../team_asset/member2.png" alt="member 5")
        img#member2(class="people_pic people_area_3" src="../../team_asset/member3.png" alt="member 1")
        img#member3(class="people_pic people_area_4" src="../../team_asset/member4.png" alt="member 2")
        img#member4(class="people_pic people_area_5" src="../../team_asset/member5.png" alt="member 3")

      // description
      div#__AboutUs__description__container
        img#arrow_previous(class="arrow" src="../../team_asset/next.png" alt="previous")
        div#__description__bar
          span#member_name 林靖詒
          span#member_info 設計師#[br]工設系碩一
        img#arrow_next(class="arrow" src="../../team_asset/next.png" alt="next")

      div#__AboutUs__dots__container
        span#dot0(class="dot")
        span#dot1(class="dot")
        span#dot2(class="dot dot_chosen")
        span#dot3(class="dot")
        span#dot4(class="dot")
      
      // bottom
      div#__AboutUs__footer__container
        div#__footer__bar
          img.banner_item_image(src="../../team_asset/home.png" alt="home")
          span.banner_item_description Home
        
        div#__footer__bar
          img.banner_item_image(src="../../team_asset/team.png" alt="team")
          span.banner_item_description.banner_item_chosen Team
          
        div#__footer__bar
          img.banner_item_image(src="../../team_asset/wallet.png" alt="wallet")
          span.banner_item_description Wallet
          
        div#__footer__bar
          img.banner_item_image(src="../../team_asset/news.png" alt="news")
          span.banner_item_description News
          
        div#__footer__bar
          img.banner_item_image(src="../../team_asset/profile.png" alt="profile")
          span.banner_item_description Profile
