body {
	margin: 0;
}

.mainflex {
	width: 100vw;
	padding-bottom: 15vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.topmargin {
	width: 100vw;
	height: 20.6vw;
	padding-bottom: 0.9vh;
	padding-bottom: 0.9vh;
	box-sizing: border-box;
	background-color: #ffbc51;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo_image {
	width: 7.9vw;
	height: 6.9vw;
	margin-right: 3.3vw;
}

.logo_word {
	font: 7.2vw Helvetica bold Condensed;
	color: #ffffff;
}

.teampic_container {
	display: flex;
	height: 66.7vw;
	align-items: center;
	justify-content: center;
}

.teampic {
	position: absolute;
	width: 100vw;
	height: auto;
	opacity: 0;
}

#noload {
	z-index: -1;
}

@keyframes showpic {
  0%  {opacity: 0;}
  5%  {opacity: 1;}
  95%  {opacity: 1;}
  100% {opacity: 0;}
}

.ondisplay {
	animation-name: showpic;
	animation-duration: 5s;
}

.fade {
	opacity: 0;
}

.team_title {
	text-align: center;
	font: 8.2vw Helvetica bold Condensed;
	color: #ffbc51;
}

#team_description {
	display: flex;
	height: 26.6vw;
	max-height: 40vh;
	justify-content: center;
	align-items: center;
	font: 7.5vw Helvetica bold Condensed;
	color: #1a1a1a;
}

#people_pic_container {
	width: 100vw;
	height: 67vw;
	margin-top: 3.3vh;
	margin-bottom: 3.3vh;
	display: flex;
	overflow-x: hidden;
	justify-content: space-around;
	align-items: center;
}

.people_pic {
	position: relative;
	border-radius: 50%;
	transition: 0.5s;
}

.people_area_1 {
	order: 1;
	width: 0;
	height: 0;
	opacity: 0;
}

.people_area_2 {
	order: 2;
	width: 16vw;
	height:16vw;
	filter: grayscale(60%);
}

.people_area_3 {
	order: 3;
	width: 38vw;
	height:38vw;
	border: 0.7vw solid #ffbc51;
}

.people_area_4 {
	order: 4;
	width: 16vw;
	height: 16vw;
	background-color: #808080;
	filter: grayscale(60%);
}

.people_area_5 {
	order: 5;
	width: 0;
	height: 0;
	opacity: 0;
}

.arrow_description_flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.people_description_flex {
	display: flex;
	flex-direction: column;
}

#member_name {
	margin-bottom: 6.4vw;
	font-family: sans-serif;
	font-size: 4.6vw;
	text-align: center;
	transition: 0.2s linear;
}

#member_info {
	margin-bottom: 5.5vw;
	font-family: sans-serif;
	font-size: 3.4vw;
	text-align: center;
	transition: 0.2s linear;
}

.dots_flex {
	display: flex;
	justify-content: center;
}

.dot {
	border-radius: 50%;
	height: 0.66vh;
	width: 0.66vh;
	margin-left: 0.5vh;
	margin-right: 0.5vh;
	margin-bottom: 2vh;
	background-color:#cccccc;
}

.dot.dot_chosen {
	background-color:#ffbc51;
}

.arrow {
	width: 1.7vw;
	height: 3.4vw;
	padding-left: 2.1vw;
	padding-right: 2.1vw;
	padding-top: 1.3vw;
	padding-bottom: 1.3vw;
	box-sizing: content-box;
	border-radius: 50%;
	border: 0.3vw solid rgba(0, 0, 0, 0);
}

.arrow:hover {
	cursor: pointer;
}

#arrow_previous {
	transform: rotate(180deg);
}

.arrow.arrow_mousedown {
	border: 0.3vw solid #1a1a1a;
}

.bottombanner {
	position: fixed;
	width: 100vw;
	height: 15vw;
	max-height: 25vh;
	padding-left: 5vw;
	padding-right: 5vw;
	box-sizing: border-box;
	bottom: 0;
	background-color: #ffbc51;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner_item {
	margin-left: 1vw;
	margin-right: 1vw;
	display: flex;
	flex-direction: column;
}

.banner_item_image {
	width: 7.9vw;
	height: 6.9vw;
}

.banner_item_description {
	font-family: sans-serif;
	font-size: 5vw;
	color: #ffffff;
}
.banner_item_description.banner_item_chosen {
	color: #1a1a1a;
}